@import "./fontSize.scss";
@import "./button.scss";
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 1250px) and (max-width: 1600px) {
  body {
    zoom: 0.8 !important;
  }
}
html {
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  @apply scroll-smooth;
}
*,
:before,
:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  @apply selection:bg-[#00b5d5];
  @apply selection:text-white;
  margin: 0;
  section {
    @screen lg {
      padding-left: 5rem;
    }
  }
  .bgCustomGradient {
    @screen lg {
      background: linear-gradient(to right, #3aabdf, #63bd5e);
    }
    background: linear-gradient(to bottom, #3aabdf, #63bd5e);
  }
  .bg-reverseGradient {
    @screen lg {
      background: linear-gradient(to right, #39abdf, #63bc5e);
    }
    background: linear-gradient(to bottom, #39abdf, #63bc5e);
  }
  .contentWhite {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    p {
      color: #ffffff;
    }
  }
  form,
  input,
  textarea {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}

h1,
h2,
h3 {
  margin: 0;
  strong {
    font-weight: 800;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#3aabdf),
      to(#63bd5e)
    );
    background: -o-linear-gradient(left, #3aabdf, #63bd5e);
    background: linear-gradient(to right, #3aabdf, #63bd5e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    &::selection {
      -webkit-text-fill-color: white;
    }
  }
}
h5.bg-graident,
h3.bg-graident,
h4.bg-graident,
h6.bg-graident,
a.bg-graident,
span.bg-graident {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3aabdf),
    to(#63bd5e)
  );
  background: -o-linear-gradient(left, #3aabdf, #63bd5e);
  background: linear-gradient(to right, #3aabdf, #63bd5e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  &::selection {
    -webkit-text-fill-color: white;
  }
}
div {
  strong.textGradient {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#3aabdf),
      to(#63bd5e)
    );
    background: -o-linear-gradient(left, #3aabdf, #63bd5e);
    background: linear-gradient(to right, #3aabdf, #63bd5e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    &::selection {
      -webkit-text-fill-color: white;
    }
  }
}
.border-gradient {
  box-sizing: border-box;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(to right, #3aabdf, #63bd5e);
  border-style: solid;
  border-color: transparent;
  background-repeat: no-repeat;
  background-origin: padding-box, border-box;
  box-shadow: 2px 1000px 1px #000000 inset;
}
.bg-custom {
  background-color: #0f72e5;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.primaryList {
  ul {
    list-style: none;
    li {
      margin-top: 1rem;
      color: #000000;
      @apply dark:text-white;
      &:before {
        content: "\2022";
        color: #4eb49e;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
}
.dark {
  p,
  a,
  span,
  strong,
  ul,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #ffffff;
  }
  .border-gradient {
    box-shadow: 2px 1000px 1px #1f2937 inset;
  }
  .bgCustomGradient {
    @screen lg {
      background: #1f2937;
    }
    background: #1f2937;
  }
  .bg-reverseGradient {
    @screen lg {
      background: #0f172a;
    }
    background: #0f172a;
  }
}
// Table css
table {
  width: 100%;
  margin-bottom: 1.5rem;
  color: #000000;
  vertical-align: top;
  border-color: #e0e0e0;
  caption-side: bottom;
  border-collapse: collapse;
  text-indent: initial;
  border-spacing: 2px;
  caption-side: bottom;
  border-collapse: collapse;
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }
  thead {
    background: #f9fafb;
  }
  > :not(caption) > * {
    border-width: 1px 0;
  }
  > :not(caption) > * > * {
    padding: 0.7rem 0.7rem;
    background-color: transparent;
    border-width: 1px;
  }
  > :not(:last-child) > :last-child > * {
    border-bottom-color: #e0e0e0;
  }
  tbody {
    vertical-align: inherit;
  }
}
// h6 use for important notes

html h6 {
  padding: 1.5625rem 1.5625rem;
  border: 2px solid orange;
  background-color: rgb(253, 255, 162);
  font-weight: normal;
  strong {
    display: block;
    margin: 0.3125rem 0rem 0.5rem;
  }
}

// sidebar css
.sidebar-sticky {
  max-height: calc(100vh - 114px);
  .wrapper {
    p {
      @apply m-0 p-0;
      a {
        @apply p-4 block text-xl hover:text-gray-500 text-[#4eb49e] no-underline border border-solid border-l-[#e0e0e0] border-transparent;
      }
    }
  }
}
html {
  ul {
    @apply list-disc m-0 ml-3 pl-4;
    li {
      @apply m-0 mb-3 ml-3;
      p {
        @apply mb-0;
      }
      ol,
      ul {
        @apply my-3;
      }
    }
  }
  ol {
    @apply list-decimal m-0 ml-3 pl-5;
    li {
      @apply m-0 mb-3 pl-2;
      p {
        @apply mb-0;
      }
      ol,
      ul {
        @apply my-3;
      }
    }
  }
}

html {
  p,
  ul,
  ol > li,
  .para {
    color: #000000;
  }
}
.center-content {
  @media (max-width: 1024px) {
    min-height: calc(100vh - 230px);
  }
  min-height: calc(100vh - 230px);
}
